@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 1opx;
  background: url("https://c4.wallpaperflare.com/wallpaper/900/385/312/green-blue-simple-wallpaper-preview.jpg")
    no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 700px;
  width: 100%;
  background: transparent;
  padding: 25px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  border: 2px solid rgba(225, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px 40px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: gold;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #fff;
  padding-left: 15px;
  font-size: 16px;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 50px;
  width: 100%;
  outline: none;
  color: #fff;
  border-radius: none;
  background: linear-gradient(135deg, #71b7e6, #046c75);
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  letter-spacing: 1px;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

a {
  color: gold;
  text-decoration: none;
}
